.post-inner {
    overflow: hidden;
    overflow: scroll;
    position: fixed;
}

.carousel-inner-data {
    margin: 0px auto;
    height: 350px;
    overflow: hidden;

    &  ul {
        list-style: none;
        position: relative;

        & li {
            height: auto;
        }
    }
}
